<section class="banner" >
	<div class="container">
		<div class="banner-img">
			<a href="blog-single.html"><img src="images/fashion/bg-banner-2.jpg" alt="" class="img-fluid w-100"></a>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="banner-content text-center">
					<div class="meta-cat">
						<span class="text-capitalize letter-spacing-1 cat-name font-extra text-color">Travel</span>
					</div>
					<div class="post-title">
						<h2><a href="blog-single.html">New summer hotspot in day life</a></h2>
					</div>

					<div class="post-meta footer-meta">
						<ul class="list-inline">
							<li class="post-like list-inline-item">
								<span class="count">197</span> Likes
							</li>
							<li class="post-read list-inline-item">2 mins read</li>
							<li class="post-view list-inline-item">189 Views</li>
						</ul>
					</div>
					<div class="post-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
						<a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	


