<section class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="category-item">
					<div class="category-img">
						<a href="blog-single.html"><img src="images/cat/cat-4.jpg" alt="" class="img-fluid w-100"></a>
					</div>
					<div class="content">
						<a href="#" class="text-color text-uppercase font-sm letter-spacing font-extra">lifestyle</a>
						<h4><a href="blog-single.html">Managing your time In 3 easy steps</a></h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="category-item">
					<div class="category-img">
						<a href="blog-single.html"><img src="images/cat/cat-2.jpg" alt="" class="img-fluid w-100"></a>
					</div>
					<div class="content">
						<a href="#" class="text-color text-uppercase font-sm letter-spacing font-extra">Fashion</a>
						<h4><a href="blog-single.html">The Ultimate Summer Hat Guide</a></h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="category-item">
					<div class="category-img">
						<a href="blog-single.html"><img src="images/cat/cat-3.jpg" alt="" class="img-fluid w-100"></a>
					</div>
					<div class="content">
						<a href="#" class="text-color text-uppercase font-sm letter-spacing font-extra" >Travel</a>
						<h4><a href="blog-single.html">The trip you should take this fall</a></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>