<div class="row">
	<div class="col-lg-6 col-md-6">
		<article class="post-grid mb-5">
			<div class="post-thumb mb-4">
				<img src="images/news/f1.jpg" alt="" class="img-fluid w-100">
			</div>
			<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">The best soft chocolate chip cookies</a></h3>

			<span class=" text-muted  text-capitalize">September 15, 2019</span>
			
		</article>
	</div>
	<div class="col-lg-6 col-md-6">
		<article class="post-grid mb-5">
			<div class="post-thumb mb-4">
				<img src="images/news/f2.jpg" alt="" class="img-fluid w-100">
			</div>
			<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">How to Make the Best Baked Oatmeal</a></h3>

			<span class=" text-muted  text-capitalize">August 05, 2019</span>
			
		</article>
	</div>
	<div class="col-lg-6 col-md-6">
		<article class="post-grid mb-5">
			<div class="post-thumb mb-4">
				<img src="images/news/f8.jpg" alt="" class="img-fluid w-100">
			</div>
			<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">5 ingredient cilantro vinaigrette</a></h3>

			<span class=" text-muted  text-capitalize">April 22, 2019</span>
			
		</article>
	</div>
	<div class="col-lg-6 col-md-6">
		<article class="post-grid mb-5">
			<div class="post-thumb mb-4">
				<img src="images/news/f3.jpg" alt="" class="img-fluid w-100">
			</div>
			<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">The best soft chocolate chip cookies</a></h3>

			<span class=" text-muted  text-capitalize">September 10, 2019</span>
			
		</article>
	</div>
	<div class="col-lg-6 col-md-6">
		<article class="post-grid mb-5">
			<div class="post-thumb mb-4">
				<img src="images/news/f4.jpg" alt="" class="img-fluid w-100">
			</div>
			<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">How to Make the Best Baked Oatmeal</a></h3>

			<span class=" text-muted  text-capitalize">January 04, 2019</span>
			
		</article>
	</div>
	<div class="col-lg-6 col-md-6">
		<article class="post-grid mb-5">
			<div class="post-thumb mb-4">
				<img src="images/news/f5.jpg" alt="" class="img-fluid w-100">
			</div>
			<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">5 ingredient cilantro vinaigrette</a></h3>

			<span class=" text-muted  text-capitalize">March 17, 2019</span>
			
		</article>
	</div>
	<div class="col-lg-6 col-md-6">
		<article class="post-grid mb-5">
			<div class="post-thumb mb-4">
				<img src="images/news/f6.jpg" alt="" class="img-fluid w-100">
			</div>
			<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">5 ingredient cilantro vinaigrette</a></h3>

			<span class=" text-muted  text-capitalize">July 28, 2019</span>
			
		</article>
	</div>
	<div class="col-lg-6 col-md-6">
		<article class="post-grid mb-5">
			<div class="post-thumb mb-4">
				<img src="images/news/f7.jpg" alt="" class="img-fluid w-100">
			</div>
			<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">The best soft chocolate chip cookies</a></h3>

			<span class=" text-muted  text-capitalize">October 02, 2019</span>
			
		</article>
	</div>
	<div class="col-lg-6 col-md-6">
		<article class="post-grid mb-5">
			<div class="post-thumb mb-4">
				<img src="images/news/f8.jpg" alt="" class="img-fluid w-100">
			</div>
			<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">How to Make the Best Baked Oatmeal</a></h3>

			<span class=" text-muted  text-capitalize">September 15, 2019</span>
			
		</article>
	</div>
</div>