<section class="footer-2 section-padding gray-bg pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="widget footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title text-uppercase letter-spacing-2 mb-4">About me</h5>
					<img src="images/about.jpg" alt="" class="img-fluid">
					<p class="mt-4">It is the best selling Blog & Magazine html Theme of this year on Themefisher.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="widget footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title text-uppercase letter-spacing-2 mb-4">Trending</h5>

			        <div class="media pb-3 sidebar-post-item">
			            <a href="#"><img class="mr-4" src="images/news/thumb-1.jpg" alt=""></a>
			            <div class="media-body">
			            	<span class="text-uppercase font-sm font-extra letter-spacing"> Travel</span>
			                <h4 class="mt-1"><a href="blog-single.html">Thoughtful living in los Angeles</a></h4>
			            </div>
			        </div>

			        <div class="media py-3 sidebar-post-item">
			            <a href="#"><img class="mr-4" src="images/news/thumb-2.jpg" alt=""></a>
			           <div class="media-body">
			           		<span class="text-uppercase font-sm font-extra letter-spacing"> Travel</span>
			                <h4 class="mt-1"><a href="blog-single.html">Vivamus molestie gravida turpis.</a></h4>
			            </div>
			        </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="widget footer-widget">
					<h5 class="widget-title text-uppercase letter-spacing-2 mb-4">Gallery</h5>

					<div class="row no-gutters">
		                <div class="col-lg-4 col-md-6 col-sm-6 col-6">
		                    <a href="#"><img class="img-fluid" src="images/f1.jpg" alt=""/></a>
		                </div>
		                <div class="col-lg-4 col-md-6 col-sm-6  col-6">
		                    <a href="#"><img class="img-fluid" src="images/f2.jpg" alt=""/></a>
		                </div>
		                <div class="col-lg-4 col-md-6 col-sm-6  col-6">
		                    <a href="#"><img class="img-fluid" src="images/f3.jpg" alt=""/></a>
		                </div>
		                <div class="col-lg-4 col-md-6 col-sm-6  col-6">
		                    <a href="#"><img class="img-fluid" src="images/f4.jpg" alt=""/></a>
		                </div>
		                <div class="col-lg-4 col-md-6 col-sm-6  col-6">
		                    <a href="#"><img class="img-fluid" src="images/f2.jpg" alt=""/></a>
		                </div>
		                <div class="col-lg-4 col-md-6 col-sm-6  col-6">
		                    <a href="#"><img class="img-fluid" src="images/f3.jpg" alt=""/></a>
		                </div>
		            </div>
				</div>
			</div>
		</div>

		<div class="footer-btm mt-5 pt-4 border-top">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-inline footer-socials-2 text-center">
		              <li class="list-inline-item"><a href="#">Privacy policy</a></li>
		              <li class="list-inline-item"><a href="#">Support</a></li>
		              <li class="list-inline-item"><a href="#">About</a></li>
		              <li class="list-inline-item"><a href="#">Contact</a></li>
		              <li class="list-inline-item"><a href="#">Terms</a></li>
		              <li class="list-inline-item"><a href="#">Category</a></li>
		            </ul>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="copyright text-center ">
						@ copyright all reserved to <a href="https://themefisher.com/">themefisher.com</a>-2019
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	
