

<header class="header-top bg-grey justify-content-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 header-left col-md-4 col-7">
        <ul class="list-inline header-socials-2 mb-0 text-center">
          <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
           <li class="list-inline-item"><div class="search_toggle mobile-search d-md-block d-lg-none"><i class="ti-search"></i></div></li>
        </ul>
      </div>

      <div class="col-lg-8 text-center col-md-8 col-5">
        <nav class="navbar navbar-expand-lg navigation">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu"></span>
          </button>
              <div class="collapse navbar-collapse" id="navbarContent">
                  <ul id="menu" class="menu navbar-nav mx-auto ">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Home
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="index.html">Home 1</a>
                              <a class="dropdown-item" href="index-2.html">Home 2</a>
                              <a class="dropdown-item" href="index-3.html">Home 3</a>
                              <a class="dropdown-item" href="index-4.html">Home 4</a>
                              <a class="dropdown-item" href="index-5.html">Home 5</a>
                              <a class="dropdown-item" href="index-6.html">Home 6</a>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Blog Posts
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="standard-fullwidth.html">Standard Fullwidth</a>
                            <a class="dropdown-item" href="standard-left-sidebar.html">Standard Left Sidebar</a>
                            <a class="dropdown-item" href="standard-right-sidebar.html">Standard Right Sidebar</a>
                          </div>
                      </li>

                      <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                      <li class="nav-item"><a href="fashion.html" class="nav-link">Category</a></li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Post Format
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="post-video.html">Video Formats</a>
                            <a class="dropdown-item" href="post-audio.html">Audio Format</a>
                            <a class="dropdown-item" href="post-link.html">Quote Format</a>
                            <a class="dropdown-item" href="post-gallery.html">Gallery Format</a>
                            <a class="dropdown-item" href="post-image.html">Image Format</a>
                          </div>
                      </li>
                      <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                     
                  </ul>
              </div>
          </nav>
        </div>
        
      <div class="col-lg-2">
        <div class="text-right search"> <div class="search_toggle d-none d-lg-block"><i class="ti-search"></i></div></div>
      </div>
    </div>
  </div>
</header>


<div class="header-logo py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" class="img-fluid"></a>
      </div>
    </div>
  </div>
</div>


<!--search overlay start-->
  <div class="search-wrap">
      <div class="overlay">
          <form action="#" class="search-form">
              <div class="container">
                  <div class="row">
                      <div class="col-md-10 col-9">
                          <input type="text" class="form-control" placeholder="Search..."/>
                      </div>
                      <div class="col-md-2 col-3 text-right">
                          <div class="search_toggle toggle-wrap d-inline-block">
                              <i class="ti-close"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <!--search overlay end-->
