					<div class="sidebar-sticky">
						<div class="logo-wrapper">
							<a class="navbar-brand" href="#">
								<img src="images/logo.png" alt="" class="img-fluid">
							</a>
						</div>

						<div class="main-menu">
							<nav class="navbar navbar-expand-lg p-0">
							    <div class="navbar-collapse collapse" id="navbarsExample09" style="">
							      <ul class="list-unstyled ">
							      	 <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home +</a>
							          <div class="dropdown-menu" aria-labelledby="dropdown01">
							            <a class="dropdown-item" href="index.html">Home 1</a>
							            <a class="dropdown-item" href="index-2.html">Home 2</a>
							            <a class="dropdown-item" href="index-3.html">Home 3</a>
							            <a class="dropdown-item" href="index-4.html">Home 4</a>
							            <a class="dropdown-item" href="index-5.html">Home 5</a>
							            <a class="dropdown-item" href="index-6.html">Home 6</a>
							          </div>
							        </li>
							        <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog Posts +</a>
							          <div class="dropdown-menu" aria-labelledby="dropdown02">
							            <a class="dropdown-item" href="standard-fullwidth.html">Standard Fullwidth</a>
							            <a class="dropdown-item" href="standard-left-sidebar.html">Standard Left Sidebar</a>
							            <a class="dropdown-item" href="standard-right-sidebar.html">Standard Right Sidebar</a>
							          </div>
							        </li>
							        <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Posts Format +</a>
							          <div class="dropdown-menu" aria-labelledby="dropdown03">
							            <a class="dropdown-item" href="post-video.html">Video Formats</a>
							            <a class="dropdown-item" href="post-audio.html">Audio Format</a>
							            <a class="dropdown-item" href="post-link.html">Quote Format</a>
							            <a class="dropdown-item" href="post-gallery.html">Gallery Format</a>
							            <a class="dropdown-item" href="post-image.html">Image Format</a>
							          </div>
							        </li>
							        <li class="nav-item">
							          <a class="nav-link" href="about.html">About</a>
							        </li>
							        <li class="nav-item">
							          <a class="nav-link" href="fashion.html">Category</a>
							        </li>

							        <li class="nav-item">
							          <a class="nav-link" href="contact.html">Contact</a>
							        </li>
							      </ul>
							</div>
						</nav>
					</div>

					<div class="header-social-wrapper">
						<ul class="list-inline mb-0">
				          <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
				          <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
				          <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
				          <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
				        </ul>
					</div>
				</div>
