<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-1.jpg" alt="" class="img-fluid w-100">
			</a>
			<span class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">Trip to California</a></h3>

			<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
			<div class="post-content mt-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>

				<a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
			</div>
		</article>


		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-lg-2.jpg" alt="" class="img-fluid w-100">
			</a>
			<span class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Lifestyle</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">Ways To Reach Goals</a></h3>

			<span class="text-muted letter-spacing text-uppercase font-sm">August 12, 2019</span>
			<div class="post-content mt-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				<a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
			</div>
		</article>

		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-7.jpg" alt="" class="img-fluid w-100">
			</a>
			<span class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">fashion</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">Bridal beauty span</a></h3>

			<span class="text-muted letter-spacing text-uppercase font-sm">march 2, 2019</span>
			<div class="post-content mt-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				<a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
			</div>
		</article>

		<article class="post-grid mb-5">
			<span class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Lifestyle</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">Beautiful Arrangement of The Workplace</a></h3>

			<span class="text-muted letter-spacing text-uppercase font-sm">September 12, 2019</span>
			<div class="post-content mt-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				<a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
			</div>
		</article>
	</div>


	<div class="col-lg-6 col-md-6 col-sm-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-lg-1.jpg" alt="" class="img-fluid w-100">
			</a>
			<span class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Explore</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">Lets explore more</a></h3>

			<span class="text-muted letter-spacing text-uppercase font-sm">September 4, 2019</span>
			<div class="post-content mt-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				<a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
			</div>
		</article>

		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-md-1.jpg" alt="" class="img-fluid w-100">
			</a>
			<span class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">lifestyle</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">Feel Like Home</a></h3>

			<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
			<div class="post-content mt-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				<a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
			</div>
		</article>

		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-lg-4.jpg" alt="" class="img-fluid w-100">
			</a>
			<span class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Travel</span>
			<h3 class="post-title mt-1"><a href="blog-single.html">What Type of Traveller Are You?</a></h3>

			<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
			<div class="post-content mt-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				<a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
			</div>
		</article>
	</div>
</div>