
<article class="post-list mb-5 pb-4 border-bottom">
	<a class="post-thumb mb-3 d-block" href="blog-single.html">
		<img src="images/fashion/bg-fashion.jpg" alt="" class="img-fluid w-100">
	</a>
	<div class="meta-cat">
		<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Experience</span>
	</div>
	<h3 class="post-title mt-2"><a href="blog-single.html">A guide to Duxton Hill</a></h3>

	<div class="post-meta footer-meta">
		<ul class="list-inline">
			<li class="post-like list-inline-item">
				<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>2 min read</span>
			</li>
			<li class="post-view list-inline-item letter-spacing-1">189 Views</li>
		</ul>
	</div>
	<div class="post-content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam! elit. Earum in doloremque, odit quas repellat voluptatum illo nulla ullam sunt, enim animi eaque dolorem possimus saepe! Fuga voluptas sapiente, nemo sit.</p>

	</div>
</article>



<div class="mb-4 post-list border-bottom pb-4">
	<div class="row no-gutters">
	    <div class="col-md-5">
	    	<a class="post-thumb " href="blog-single.html">
		      <img src="images/fashion/img-1.jpg" alt="" class="img-fluid w-100">
		  	</a>
	    </div>

	    <div class="col-md-7">
	        <div class="post-article mt-sm-3">
	        	<div class="meta-cat">
					<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Explore</span>
				</div>
				<h3 class="post-title mt-2"><a href="blog-single.html">Launch a New space</a></h3>

				<div class="post-meta">
					<ul class="list-inline">
						<li class="post-like list-inline-item">
							<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>3 min read</span>
						</li>
						<li class="post-view list-inline-item letter-spacing-1">259 Views</li>
					</ul>
				</div>
				<div class="post-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				</div>
	        </div>
	    </div>
	</div>
</div>

<div class="mb-4 post-list border-bottom pb-4">
	<div class="row no-gutters">
	    <div class="col-md-5">
	    	<a class="post-thumb" href="blog-single.html">
		      <img src="images/fashion/img-2.jpg" alt="" class="img-fluid w-100">
		  	</a>
	    </div>

	    <div class="col-md-7">
	    	<div class="post-article mt-sm-3">
		        <div class="meta-cat">
					<span class="letter-spacing cat-name font-extra text-uppercase font-sm">lifestyle</span>
				</div>
				<h3 class="post-title mt-2"><a href="blog-single.html">Bahamas morning</a></h3>

				<div class="post-meta">
					<ul class="list-inline">
						<li class="post-like list-inline-item">
							<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>2 min read</span>
						</li>
						<li class="post-view list-inline-item letter-spacing-1">320 Views</li>
					</ul>
				</div>
				<div class="post-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				</div>
		    </div>
	    </div>
	</div>
</div>


<div class="mb-4 post-list border-bottom pb-4">
	<div class="row no-gutters">
	    <div class="col-md-5">
	    	<a class="post-thumb" href="blog-single.html">
		      <img src="images/fashion/img-3.jpg" alt="" class="img-fluid w-100">
		  	</a>
	    </div>

	    <div class="col-md-7">
	    	<div class="post-article mt-sm-3">
		        <div class="meta-cat">
					<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Travel</span>
				</div>
				<h3 class="post-title mt-2"><a href="blog-single.html">New summer hotspot</a></h3>

				<div class="post-meta">
					<ul class="list-inline">
						<li class="post-like list-inline-item">
							<span class="font-sm  letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>5 min read</span>
						</li>
						<li class="post-view list-inline-item letter-spacing-1">380 Views</li>
					</ul>
				</div>
				<div class="post-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				</div>
		    </div>
	    </div>
	</div>
</div>

<div class="mb-4 post-list border-bottom pb-4">
	<div class="row no-gutters">
	    <div class="col-md-5">
	    	<a class="post-thumb" href="blog-single.html">
		      <img src="images/fashion/img-4.jpg" alt="" class="img-fluid w-100">
		  	</a>
	    </div>

	    <div class="col-md-7">
	    	<div class="post-article mt-sm-3">
		        <div class="meta-cat">
					<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Weekends</span>
				</div>
				<h3 class="post-title mt-2"><a href="blog-single.html">One Week Itinerary</a></h3>

				<div class="post-meta">
					<ul class="list-inline">
						<li class="post-like list-inline-item">
							<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>4 min read</span>
						</li>
						<li class="post-view list-inline-item letter-spacing-1">89 Views</li>
					</ul>
				</div>
				<div class="post-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				</div>
		    </div>
	    </div>
	</div>
</div>


<div class="mb-4 post-list border-bottom pb-4">
	<div class="row no-gutters">
	    <div class="col-md-5">
	    	<a class="post-thumb" href="blog-single.html">
		      <img src="images/fashion/img-5.jpg" alt="" class="img-fluid w-100">
		  	</a>
	    </div>

	    <div class="col-md-7">
	    	<div class="post-article mt-sm-3">
		        <div class="meta-cat">
					<span class="letter-spacing cat-name font-extra text-uppercase font-sm">lifestyle</span>
				</div>
				<h3 class="post-title mt-2"><a href="blog-single.html">Start Living Today</a></h3>

				<div class="post-meta">
					<ul class="list-inline">
						<li class="post-like list-inline-item">
							<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>2 min read</span>
						</li>
						<li class="post-view list-inline-item letter-spacing-1">572 Views</li>
					</ul>
				</div>
				<div class="post-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				</div>
		    </div>
	    </div>
	</div>
</div>

<div class="mb-4 post-list border-bottom pb-4">
	<div class="row no-gutters">
	    <div class="col-md-5">
	    	<a class="post-thumb" href="blog-single.html">
		      <img src="images/fashion/img-6.jpg" alt="" class="img-fluid w-100">
		  	</a>
	    </div>

	    <div class="col-md-7">
	    	<div class="post-article mt-sm-3">
		        <div class="meta-cat">
					<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Travel</span>
				</div>
				<h3 class="post-title mt-2"><a href="blog-single.html">Hint of Spring</a></h3>

				<div class="post-meta">
					<ul class="list-inline">
						<li class="post-like list-inline-item">
							<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>3 min read</span>
						</li>
						<li class="post-view list-inline-item letter-spacing-1">209 Views</li>
					</ul>
				</div>
				<div class="post-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat necessitatibus tenetur ratione eius numquam!</p>
				</div>
		    </div>
	    </div>
	</div>
</div>


