<article class="post-grid mb-5">
	<a class="post-thumb mb-4 d-block" href="blog-single.html">
		<img src="images/fashion/bg-fashion.jpg" alt="" class="img-fluid w-100">
	</a>
	<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Lifestyle</span>
	<h2 class="mb-1 mt-2 post-title"><a href="blog-single.html">Ultimate Summer Hat Guide</a></h2>

	<div class="post-content mt-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga, laborum numquam eius!</p>
	
	</div>
</article>


<div class="row">
	<div class="col-lg-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-1.jpg" alt="" class="img-fluid">
			</a>
			<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Travel</span>
			<h3 class="post-title mb-1 mt-2"><a href="blog-single.html">Trip to California</a></h3>

			<div class="post-content mt-4">
				<p>Quisque hendrerit lobortis faucibus. Fusce quis dignissim nunc, eget scelerisque lectus. Nunc id eros vel ante consequat laoreet non et mauris.</p>
			</div>
		</article>
	</div>

	<div class="col-lg-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-3.jpg" alt="" class="img-fluid">
			</a>
			<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Explore</span>	
			<h3 class="post-title mb-1 mt-2"><a href="blog-single.html">Ways To Reach Goals</a></h3>
			
			<div class="post-content mt-4">
				<p>Quisque hendrerit lobortis faucibus. Fusce quis dignissim nunc, eget scelerisque lectus. Nunc id eros vel ante consequat laoreet non et mauris.</p>
			</div>
		</article>
	</div>

	<div class="col-lg-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-2.jpg" alt="" class="img-fluid">
			</a>
			<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Experience</span>	
			<h3 class="post-title mb-1 mt-2"><a href="blog-single.html">Lets explore more</a></h3>
		
			<div class="post-content mt-4">
				<p>Quisque hendrerit lobortis faucibus. Fusce quis dignissim nunc, eget scelerisque lectus. Nunc id eros vel ante consequat laoreet non et mauris.</p>
			</div>
		</article>
	</div>

	<div class="col-lg-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-4.jpg" alt="" class="img-fluid">
			</a>
			<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Travel</span>	
			<h3 class="post-title mb-1 mt-2"><a href="blog-single.html">Feel Like Home</a></h3>
			
			<div class="post-content mt-4">
				<p>Quisque hendrerit lobortis faucibus. Fusce quis dignissim nunc, eget scelerisque lectus. Nunc id eros vel ante consequat laoreet non et mauris.</p>
			</div>
		</article>
	</div>
</div>

<article class="post-grid mb-5">
	<a class="post-thumb mb-4 d-block" href="blog-single.html">
		<img src="images/fashion/img-5.jpg" alt="" class="img-fluid w-100">
	</a>
	<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Lifestyle</span>	
	<h3 class="mb-1 mt-2 post-title"><a href="blog-single.html">Manage your time in easy steps</a></h3>
	
	<div class="post-content mt-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga, laborum numquam eius!</p>
	</div>
</article>

<div class="row">
	<div class="col-lg-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-6.jpg" alt="" class="img-fluid">
			</a>

			<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Fashion</span>
			<h3 class="post-title mb-1 mt-2"><a href="blog-single.html">Best Bridal shower Tips</a></h3>

			<div class="post-content mt-4">
				<p>Quisque hendrerit lobortis faucibus. Fusce quis dignissim nunc, eget scelerisque lectus. Nunc id eros vel ante consequat laoreet non et mauris.</p>
			</div>
		</article>
	</div>

	<div class="col-lg-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="images/fashion/img-2.jpg" alt="" class="img-fluid">
			</a>

			<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">lifestyle</span>
			<h3 class="post-title mb-1 mt-2"><a href="blog-single.html">8 Powerful Ways to Add Vibrant Colour to Your Life</a></h3>
			
			<div class="post-content mt-4">
				<p>Quisque hendrerit lobortis faucibus. Fusce quis dignissim nunc, eget scelerisque lectus. Nunc id eros vel ante consequat laoreet non et mauris.</p>
			</div>
		</article>
	</div>
</div>
